#header.with-image {
  background-image: url("../assets/bg-pipe-pattern-dark-gray-500x300.png");
}
#main {
  margin-left: 280px;
  background-color: #fff;
  min-height: 100%;
  padding-right: 30px;
  padding-bottom: 1px;
  font-size: 15px;
  -webkit-text-size-adjust: none;
}
.dark-box {
  position: fixed;
  width: calc(50% - 180px);
  top: 70px;
  bottom: 0;
  right: 0;
  background-color: #333;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.3);
}
.lang-selector-tabs {
  position: fixed;
  width: calc(50% - 180px);
  top: 70px;
  right: 0;
  z-index: 50;
  border-bottom: 1px solid #444;
  background-color: #262626;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.3);
}
.lang-selector-tabs a {
  display: block;
  float: left;
  color: #ccc;
  text-decoration: none;
  padding: 6px 20px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
}
.lang-selector-tabs a:hover {
  background-color: #2d2d2d;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.3);
}
.lang-selector-tabs a:active,
.lang-selector-tabs a:focus {
  background-color: #303030;
  color: #fff;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.3);
}
.lang-selector-tabs a.active {
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: -1px;
  padding-top: 5px;
  padding-bottom: 7px;
  box-shadow: inset 0 2px 4px -2px rgba(0,0,0,0.5);
}
.lang-selector-tabs:after {
  content: '';
  clear: both;
  display: block;
}
.lang-selector-sidebar {
  display: none;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.lang-selector-sidebar a {
  display: block;
  position: relative;
  color: #333;
  margin-top: 4px;
  padding-left: 16px;
}
.lang-selector-sidebar a:hover {
  color: #357edd;
}
.lang-selector-sidebar a.active {
  color: #357edd;
}
.lang-selector-sidebar a.active::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid #357edd;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: 4px;
}
.content.api {
  position: relative;
  z-index: 30;
  max-width: initial;
  padding-bottom: 240px;
}
.content.api:after {
  content: '';
  display: block;
  clear: both;
}
.content.api h1,
.content.api h2,
.content.api h3,
.content.api h4,
.content.api h5,
.content.api h6,
.content.api p,
.content.api table,
.content.api ul,
.content.api ol,
.content.api aside,
.content.api dl,
.content.api hr {
  margin-right: 50%;
  box-sizing: border-box;
  display: block;
}
.content.api ul,
.content.api ol {
  padding-left: 2rem;
}
.content.api ul li ul,
.content.api ol li ul,
.content.api ul li ol,
.content.api ol li ol {
  padding-left: 30px;
}
.content.api ul li p,
.content.api ol li p {
  margin: 0;
}
.content.api h1 + blockquote,
.content.api h2 + blockquote,
.content.api h3 + blockquote,
.content.api h4 + blockquote,
.content.api h5 + blockquote,
.content.api h6 + blockquote,
.content.api hr + blockquote {
  padding-top: 0;
}
.content.api table {
  margin-bottom: 2rem;
  margin-left: 0;
  overflow: auto;
}
.content.api table th,
.content.api table td {
  vertical-align: top;
}
.content.api table th {
  background: #fff;
  border-bottom: 1px solid #ddd;
  vertical-align: bottom;
}
.content.api table td {
  padding: 0.625rem;
  font-size: 14px;
}
.content.api table tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
.content.api dt {
  font-weight: bold;
}
.content.api dd {
  margin-left: 15px;
}
.content.api aside {
  padding: 1.2rem 1.6rem 1.2rem 4rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  margin-left: 30px;
  margin-right: 30px !important;
  line-height: 1.6;
  border: 1px solid rgba(0,0,0,0.08);
  border-left-width: 4px;
  border-radius: 5px;
}
.content.api aside.notice {
  border-left-color: #2196f3;
  background-color: rgba(33,150,243,0.06);
}
.content.api aside.warning {
  border-left-color: #f40000;
  background-color: rgba(244,0,0,0.06);
}
.content.api aside.success {
  border-left-color: #090;
  background-color: rgba(0,153,0,0.06);
}
.content.api aside:before {
  position: relative;
  top: 0.2rem;
  vertical-align: top;
  font-size: 24px;
  width: 2rem;
  margin-left: -2.6rem;
  padding-right: 0.6rem;
}
.content.api aside.notice:before {
  color: #2196f3;
}
.content.api aside.warning:before {
  color: #f40000;
}
.content.api aside.success:before {
  color: #090;
}
.content.api blockquote,
.content.api figure {
  color: #eee;
  border-left: 0;
  padding: 1rem 0;
  margin: 0;
  width: calc(50% - 60px);
  float: right;
  clear: right;
  box-sizing: border-box;
}
.content.api blockquote p,
.content.api figure p {
  margin: 0;
}
.content.api blockquote a,
.content.api figure a {
  color: #eee;
  text-decoration: none;
  border-bottom: dashed 1px #ccc;
}
.content.api blockquote {
  padding-top: 0;
}
.content.api blockquote p {
  font-weight: 400;
  margin-top: 0;
}
.content.api blockquote p code {
  background-color: rgba(255,255,255,0.1);
}
.content.api figure {
  background-color: #262626;
  border-radius: 5px;
  padding: 13px;
}
.content.api figure code {
  background-color: transparent;
  padding: 3px;
  border-radius: 3px;
}
.content.api figure pre {
  color: #eee;
  background-color: transparent;
  padding: 0;
}
.content.api figure table {
  margin-bottom: 0;
}
.content.api blockquote p {
  color: #ccc;
}
.content.api figure + blockquote {
  margin-top: 2rem;
}
.content.api .highlight {
  overflow: auto;
}
.content.api blockquote + .highlight,
.content.api .highlight + .highlight {
  border-top: 1px solid #111;
  border-bottom: 1px solid #444;
}
.content.api figure.javascript {
  display: none;
}
.content.api .center-column + .highlight .w {
  background-color: transparent;
}
.content.api .center-column + .highlight .p {
  color: #333;
}
.content.api .center-column + figure {
  background-color: #f8f8f8;
  color: #525252;
  position: static;
  float: none;
  clear: none;
  width: auto;
  margin-right: 50%;
  left: 0;
}
.content.api .center-column + figure pre {
  color: #525252;
}
.content.api .center-column + figure code {
  box-shadow: none;
}
@media screen and (max-width: 950px) {
  body {
    -webkit-text-size-adjust: none;
    font-size: 14px;
  }
  #main {
    position: relative;
    z-index: 10;
    margin-left: 0;
  }
  .dark-box {
    display: none;
  }
  .lang-selector-tabs {
    display: none;
  }
  .lang-selector-sidebar {
    display: block;
  }
  .content.api blockquote,
  .content.api figure {
    float: none;
    clear: none;
    width: auto;
  }
  .content.api blockquote p {
    color: #333;
  }
  .content.api figure {
    border-top: none;
    border-bottom: none;
  }
  .content.api .center-column + figure {
    display: block;
    margin-right: 0;
  }
  .content.api h1,
  .content.api h2,
  .content.api h3,
  .content.api h4,
  .content.api h5,
  .content.api h6,
  .content.api p,
  .content.api table,
  .content.api ul,
  .content.api ol,
  .content.api aside,
  .content.api dl,
  .content.api hr {
    margin-right: 0;
  }
}
@media screen and (max-width: 1520px) {
  .content.api.with-sidebar {
    margin-left: 0;
  }
}
