.gutter pre {
  color: #999;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .class .title {
  color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #690;
}
pre .title {
  color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #690;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding-top: 70px;
  line-height: 1.5em;
}
@media screen and (max-width: 950px) {
  body {
    padding-top: 40px;
  }
}
a {
  text-decoration: none;
  color: #357edd;
  font-weight: 600;
}
img {
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: initial;
}
h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
  color: #222;
}
h1 {
  margin: 0 0 1em;
}
h2 {
  margin: 45px 0 0.8em;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
}
h3 {
  margin: 52px 0 1.2em;
}
h5 {
  font-size: 0.875em;
}
h6 {
  font-size: 0.75em;
}
code,
pre {
  font-family: "Roboto Mono", Monaco, courier, monospace;
  font-size: 0.8em;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}
pre code {
  color: #525252;
  font-size: 12px;
  line-height: 18px;
}
p,
ul,
ol {
  line-height: 1.7em;
/*
  // HACK: Create area underneath paragraphs
  // and lists that will be on top of heading
  // anchors, for easier text highlighting.
  margin: 1.2em 0 -1.2em
  padding-bottom: 1.2em
  */
}
p {
  word-spacing: 0.05em;
}
li > ul,
li > ol,
ul > li + li,
ol > li + li {
  margin-top: 0.6rem;
}
address {
  font-style: normal;
}
input,
textarea,
keygen,
select,
button {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
input,
button,
submit {
  border: none;
  outline: none;
  padding: 0;
}
input.disabled,
button.disabled,
submit.disabled,
input[disabled],
button[disabled],
submit[disabled] {
  pointer-events: none;
  opacity: 0.65;
}
button {
  background: none;
  cursor: pointer;
}
button.disabled,
button[disabled] {
  cursor: default;
}
a.button {
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #4588e0;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #4588e0;
}
a.button.white {
  background-color: #fff;
  color: #357edd;
}
.highlight {
  overflow-x: auto;
  background-color: #f8f8f8;
  padding: 0.4em 0 0;
  line-height: 1.1em;
  border-radius: 2px;
  position: relative;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  width: 1.5em;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}
.highlight .code .line {
  min-height: 1.5em;
}
.highlight.html .code:before,
.highlight.js .code:before,
.highlight.bash .code:before,
.highlight.css .code:before {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
.highlight.html .code:before {
  content: "HTML";
}
.highlight.js .code:before {
  content: "JS";
}
.highlight.bash .code:before {
  content: "Shell";
}
.highlight.css .code:before {
  content: "CSS";
}
#main {
  position: relative;
  z-index: 10;
  padding: 0 50px 30px;
  overflow-x: hidden;
}
#nav .nav-link {
  cursor: pointer;
}
#nav .nav-dropdown-container .nav-link:hover:not(.current) {
  border-bottom: none;
}
#nav .nav-dropdown-container:hover .nav-dropdown {
  display: block;
}
#nav .nav-dropdown-container .arrow {
  pointer-events: none;
}
#nav .nav-dropdown {
  display: none;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 12px 16px 12px 12px;
  margin: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: left;
  border-radius: 2px;
  white-space: nowrap;
}
#nav .nav-dropdown li {
  line-height: 1.8em;
  margin: 0;
  display: block;
}
#nav .nav-dropdown li > ul {
  padding: 0;
  margin: 0;
}
#nav .nav-dropdown li:first-child h4 {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
#nav .nav-dropdown a,
#nav .nav-dropdown h4 {
  padding: 0 24px 0 20px;
}
#nav .nav-dropdown h4 {
  margin: 0.45em 0 0;
  padding-top: 0.45em;
  border-top: 1px solid #eee;
}
#nav .nav-dropdown a {
  color: #383838;
  font-size: 0.9em;
  display: block;
}
#nav .nav-dropdown a:hover {
  color: #357edd;
}
#nav .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 6px;
  margin-right: -14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #fff;
}
sup.beta.beta {
  font-size: 0.6em;
  margin-left: 0.7em;
  text-transform: uppercase;
  opacity: 0.6;
}
.flex-fill {
  flex: 1 1;
  min-width: 0;
  min-height: 0;
}
.darken-05:hover,
.darken-05:focus {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.05);
}
.darken-05:active {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.1);
}
.darken-10:hover,
.darken-10:focus {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.1);
}
.darken-10:active {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.2);
}
.bg-hero-blue {
  background-color: #0b1723;
}
.bg-nearer-white {
  background-color: #f8f8f8;
}
.b--light-moon-gray {
  border-color: #ddd;
}
.lh-1 {
  line-height: 1;
}
.lh-2 {
  line-height: 2;
}
.f7 {
  font-size: 0.8125rem;
}
.f8 {
  font-size: 0.75rem;
}
.mw7a {
  max-width: 56rem;
}
.mw9 {
  max-width: 80rem;
}
.pv2a {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.no-select {
  user-select: none;
}
.underline-child .child {
  text-decoration: none;
}
.underline-child .child:hover .child,
.underline-child .child:focus .child,
.underline-child .child:active .child {
  text-decoration: underline;
}
.dark-green {
  color: #090;
}
.pv2a {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.focus-outline:focus {
  outline: 1px solid !important;
}
.focus-outline-transparent:focus {
  outline: 1px solid transparent !important;
}
.focus-ow1:focus {
  outline-width: 0.125rem !important;
}
.focus-o--blue:focus {
  outline-color: #357edd !important;
}
.focus-b--transparent:focus {
  border-color: transparent;
}
.focus-b--blue:focus {
  border-color: #357edd;
}
.bs1 {
  box-shadow: 0 2px 3px -2px rgba(0,0,0,0.2);
}
.hover-bs1:hover {
  box-shadow: 0 3px 8px -1px rgba(0,0,0,0.2);
}
.bs2 {
  box-shadow: 0 3px 8px -1px rgba(0,0,0,0.2);
}
.demo pre {
  margin: 0.25rem 0;
}
.demo pre code {
  white-space: pre;
}
.demo .bg-near-white {
  background-color: #f8f8f8;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 15px 32px;
  background-color: #0b1723;
  z-index: 100;
  transition: box-shadow 0.3s ease-in-out;
}
#header.with-image {
  background-image: url("../assets/bg-pipe-pattern-hero-blue-500x300.png");
}
#header.hero-blue {
  background-color: #0b1723;
}
#header.box-shadow {
  background-image: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
#header-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 15px 32px;
  background-color: #0b1723;
  z-index: 99;
}
#header-bg.with-image {
  background-image: url("../assets/bg-pipe-pattern-hero-blue-500x300.png");
}
#header-bg.hero-blue {
  background-color: #0b1723;
}
#nav {
  position: absolute;
  top: 14px;
  right: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 40px;
}
#nav li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
#nav li:last-child {
  margin-right: 0;
}
#nav li.nav-dropdown-container {
  margin-right: 6px;
  padding-right: 16px;
}
#nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
#nav .nav-link-cta {
  font-weight: bold;
}
#nav .nav-dropdown .nav-link {
  border-bottom-width: 0;
  text-transform: none;
}
#nav .nav-dropdown .nav-link.current {
  color: #357edd;
}
#nav .nav-dropdown .nav-link.current::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid #357edd;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 5px;
}
#nav .nav-dropdown .nav-link-cta:hover {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.1);
  border-bottom: none;
}
.nav-link {
  border-bottom: 2px solid transparent;
  padding-bottom: 1px;
  transition: border 0.3s ease-in-out;
}
.nav-link:hover,
.nav-link.current {
  border-bottom: 2px solid #fff;
}
.nav-link-cta {
  display: inline-block;
  padding: 5px 15px;
  line-height: 24px;
  background-color: #ff6300;
  color: #fff;
  border-bottom-width: 0;
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: bold;
}
.nav-link-cta:hover {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.1);
  border-bottom: none;
}
#logo {
  display: inline-block;
  line-height: 34px;
}
#logo img {
  vertical-align: middle;
  margin-right: 6px;
  width: 100px;
  height: 30px;
}
#mobile-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #0b1723;
  z-index: 100;
  display: none;
  transition: box-shadow 0.3s ease-in-out;
}
#mobile-bar.with-image {
  background-image: url("../assets/bg-pipe-pattern-hero-blue-500x300.png");
}
#mobile-bar.hero-blue {
  background-color: #0b1723;
}
#mobile-bar.box-shadow {
  background-image: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
#mobile-bar .menu-button {
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
  background: url("../assets/menu.png") center center no-repeat;
  background-size: 24px;
}
#mobile-bar .logo {
  position: absolute;
  width: 70px;
  height: 20px;
  background: url("../assets/logo-white-mobile.png") center center no-repeat;
  top: 9px;
  left: 50%;
  margin-left: -35px;
}
#mobile-bar-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #0b1723;
  z-index: 99;
}
#mobile-bar-bg.with-image {
  background-image: url("../assets/bg-pipe-pattern-hero-blue-500x300.png");
}
#mobile-bar-bg.hero-blue {
  background-color: #0b1723;
}
#footer {
  color: #eee;
}
#footer h4 {
  color: #eee;
}
#footer a {
  color: #999;
  font-weight: 400;
}
#footer ul {
  padding: 0;
  margin: 0;
}
.sidebar {
  font-size: 15px;
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 0;
  z-index: 101;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.sidebar h2 {
  margin-top: 0.2em;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.5em;
  padding-left: 1em;
  padding-bottom: 0;
}
.sidebar li {
  margin-top: 0.5em;
}
.sidebar .sidebar-inner {
  width: 280px;
  padding: 0.75rem 1rem 4rem 2rem;
}
.sidebar .menu-root {
  padding-left: 0;
}
.sidebar .menu-sub {
  font-size: 0.85em;
}
.sidebar .sidebar-link {
  color: #777;
}
.sidebar .sidebar-link.current {
  font-weight: 600;
  color: #357edd;
}
.sidebar .sidebar-link.new:after {
  content: "NEW";
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #357edd;
  line-height: 14px;
  padding: 0 4px;
  border-radius: 3px;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.sidebar .sidebar-link:hover {
  border-bottom: 2px solid #357edd;
}
.sidebar .section-link {
  color: #333;
  font-weight: normal;
}
.sidebar .section-link:hover {
  color: #357edd;
}
.sidebar .section-link.active {
  font-weight: bold;
  color: #357edd;
}
.sidebar .section-title {
  margin-top: 20px;
  text-transform: uppercase;
}
.sidebar .section-title .section-link {
  font-weight: 600;
}
.sidebar .main-menu {
  margin-bottom: 20px;
  display: none;
  padding-left: 0;
}
.sidebar .nav-dropdown h4 {
  font-weight: normal;
  margin: 0;
}
.sidebar .nav-dropdown ul {
  padding-left: 0;
}
@media screen and (max-width: 950px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: translate(-320px, 0);
    transform: translate(-320px, 0);
  }
  .sidebar .sidebar-inner {
    padding: 1rem 1.5rem 2rem;
    min-width: 200px;
    box-sizing: border-box;
  }
  .sidebar .main-menu {
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
  .sidebar .nav-link-cta {
    margin-top: 15px;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
  .sidebar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.pricing-box-l {
  box-shadow: 0 0 70px #e8e8e8;
}
.striped-pricing {
  background-color: #f8f8f8;
}
.tutorial-overview-item {
  transition: all 0.3s;
  box-shadow: 0 8px 24px -1px rgba(0,0,0,0.075);
}
.tutorial-overview-item:hover {
  box-shadow: 0 8px 24px -1px rgba(0,0,0,0.15);
}
#page-nav {
  border-top: 1px solid #eee;
  padding-top: 1rem;
  clear: both;
}
#page-nav .page-number,
#page-nav .space {
  display: none;
}
#page-nav .prev {
  float: right;
}
#page-nav .next {
  float: left;
}
.fx-modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.fx-modal-mask.dn {
  display: none;
}
.fx-modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.fx-modal-container {
  width: 24rem;
  margin: 0 auto;
  max-height: 100vh;
  max-width: 100vw;
  background-color: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.33);
  transition: all 0.3s ease;
}
.fx-modal-body {
  padding: 1rem 1.5rem;
  overflow-y: auto;
}
.fx-modal-header {
  padding: 1.25rem 1.5rem 0;
  margin-bottom: 1rem;
}
.fx-modal-footer {
  padding: 0 1rem 1rem;
  margin-top: 1rem;
}
.fx-modal-enter,
.fx-modal-leave-active {
  opacity: 0;
}
.fx-modal-enter .fx-modal-container {
  transform: scale(0.1);
}
.fx-modal-leave-active .fx-modal-container {
  transform: scale(0.95);
}
.js-tabs {
  max-width: 100%;
  margin-bottom: 2em;
}
.js-tabs__header {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.js-tabs__header > div {
  display: inline-block;
  float: left;
}
.js-tabs__title {
  background: #f5f5f5;
  border: 1px solid #ddd;
  color: #357edd;
  cursor: pointer;
  display: block;
  margin-right: -1px;
  padding: 0.25em 1em;
}
.js-tabs__title:hover {
  text-decoration: none;
}
.js-tabs__title-active {
  background: #fff;
  border-bottom-color: #fff;
  color: #333;
  cursor: default;
}
.js-tabs__content {
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 0.25em;
  box-shadow: 0 3px 6px -2px rgba(0,0,0,0.15);
}
.js-tabs__content > br {
  display: none;
}
.js-tabs__content .highlight {
  margin: 0;
}
.content {
  position: relative;
  padding: 32px 0;
  max-width: 840px;
  margin: 0 auto;
}
.content.blog p {
  line-height: 1.7em;
  word-spacing: initial;
}
.content.blog ul {
  padding-left: 40px;
}
.content.template {
  max-width: 1152px;
}
.content.use-case {
  max-width: 880px;
}
.content.api h1,
.content.javascript-sdk h1,
.content.quick-start h1,
.content.command-line h1 {
  background: #357edd;
  color: #fff;
  padding: 24px;
  border-radius: 7px;
}
.content.api h2::before,
.content.javascript-sdk h2::before,
.content.quick-start h2::before,
.content.command-line h2::before,
.content.api h3::before,
.content.javascript-sdk h3::before,
.content.quick-start h3::before,
.content.command-line h3::before {
  content: "";
  display: block;
  margin-top: -30px;
  height: 30px;
  visibility: hidden;
}
.content.api h2,
.content.javascript-sdk h2,
.content.quick-start h2,
.content.command-line h2 {
  position: relative;
  z-index: -1;
}
.content.api h3,
.content.javascript-sdk h3,
.content.quick-start h3,
.content.command-line h3 {
  position: relative;
  z-index: -1;
}
.content.api h3::after,
.content.javascript-sdk h3::after,
.content.quick-start h3::after,
.content.command-line h3::after {
  content: "#";
  color: #ddd;
  position: absolute;
  left: -18px;
  bottom: -2px;
  font-size: 1.2em;
  font-weight: 600;
}
.content.api ul,
.content.javascript-sdk ul,
.content.quick-start ul,
.content.command-line ul,
.content.api ol,
.content.javascript-sdk ol,
.content.quick-start ol,
.content.command-line ol {
  padding-left: 2.5em;
  line-height: 1.7em;
  margin-bottom: 2em;
}
.content.api ul > li,
.content.javascript-sdk ul > li,
.content.quick-start ul > li,
.content.command-line ul > li,
.content.api ol > li,
.content.javascript-sdk ol > li,
.content.quick-start ol > li,
.content.command-line ol > li {
  margin-top: 0.2em;
}
.content.api ul ul,
.content.javascript-sdk ul ul,
.content.quick-start ul ul,
.content.command-line ul ul,
.content.api ol ul,
.content.javascript-sdk ol ul,
.content.quick-start ol ul,
.content.command-line ol ul,
.content.api ul p:not(.tip),
.content.javascript-sdk ul p:not(.tip),
.content.quick-start ul p:not(.tip),
.content.command-line ul p:not(.tip),
.content.api ol p:not(.tip),
.content.javascript-sdk ol p:not(.tip),
.content.quick-start ol p:not(.tip),
.content.command-line ol p:not(.tip) {
  padding-bottom: 0;
  margin: 1.2em 0;
}
.content.api > a:first-of-type > h2,
.content.javascript-sdk > a:first-of-type > h2,
.content.quick-start > a:first-of-type > h2,
.content.command-line > a:first-of-type > h2 {
  display: none;
}
.content img {
  max-width: 100%;
}
.content a.headerlink:hover h3::after {
  color: #357edd;
}
.content figure {
  margin: 1.2em 0;
}
.content p,
.content ul,
.content ol {
  position: relative;
  z-index: 1;
}
.content ul,
.content ol {
  margin-left: 1.5em;
  padding-left: 1.5em;
  position: inherit;
}
.content blockquote {
  margin: 2em 0 2em 2em;
  padding-left: 1em;
  border-left: 4px solid #ccc;
}
.content blockquote p {
  font-weight: 600;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.content iframe {
  margin: 0;
}
.content > table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.2em auto;
  padding: 0;
  display: block;
  overflow-x: auto;
}
.content > table td,
.content > table th {
  line-height: 1.5em;
  padding: 0.4em 0.8em;
  border: none;
  border: 1px solid #ddd;
}
.content > table th {
  font-weight: bold;
  text-align: left;
}
.content > table th,
.content > table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.content > table th code,
.content > table tr:nth-child(2n) code {
  background-color: #efefef;
}
.content p.tip,
.content p.success {
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #f8f8f8;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.content p.tip::before,
.content p.success::before {
  position: absolute;
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}
.content p.tip code,
.content p.success code {
  background-color: #efefef;
}
.content p.tip em,
.content p.success em {
  color: #333;
}
.content p.tip {
  border-left-color: #f33;
}
.content p.tip::before {
  content: "!";
  background-color: #f33;
}
.content p.success {
  border-left-color: #357edd;
}
.content p.success::before {
  content: "\f00c";
  font-family: FontAwesome;
  background-color: #357edd;
}
#main.fix-sidebar {
  position: static;
}
#main.fix-sidebar .sidebar {
  position: fixed;
}
#main.full-width {
  padding: 0;
}
#main.full-width .content {
  padding: 0;
  margin: 0;
  max-width: initial;
  overflow: hidden;
}
#main.blog {
  padding: 0;
}
#main.blog .content {
  padding: 0;
}
#main.hide-sidebar .sidebar {
  display: none;
}
@media screen and (max-width: 1520px) {
  .content.with-sidebar {
    margin-left: 280px;
  }
}
@media screen and (max-width: 950px) {
  body {
    -webkit-text-size-adjust: none;
    font-size: 14px;
  }
  #header {
    display: none;
  }
  #logo {
    display: none;
  }
  #mobile-bar {
    display: block;
  }
  #main {
    padding: 2em 2em 0 2.5em;
  }
  #main.hide-sidebar .sidebar {
    display: block;
  }
  .nav-link {
    color: #333;
    cursor: pointer;
    padding-bottom: 1px;
  }
  .nav-link:hover,
  .nav-link.current {
    border-bottom: 2px solid #357edd;
  }
  .nav-link-cta {
    color: #fff;
    padding-bottom: 5px;
  }
  .nav-link-cta:hover {
    box-shadow: inset 9999px 9999px rgba(0,0,0,0.1);
    border-bottom: none;
  }
  .highlight pre {
    padding: 1.2em 1em;
  }
  .content {
    padding-left: 0;
  }
  .content.template {
    padding-top: 0;
  }
  .content.use-case {
    padding-top: 0;
  }
  .content.with-sidebar {
    margin: auto;
  }
  .content h2::before,
  .content h3::before {
    content: "";
    display: block;
    margin-top: -30px;
    height: 30px;
    visibility: hidden;
  }
}
@media screen and (max-width: 560px) {
  iframe {
    margin: 0 !important;
  }
}
