@charset "utf-8";
//@import 'normalize';
@import 'variables';
@import 'icon-font';

/*
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
*/

////////////////////////////////////////////////////////////////////////////////
// GENERAL STUFF
////////////////////////////////////////////////////////////////////////////////

html,
body {
  color: $main-text;
  background-color: $main-bg;
  font-size: $p-font-size;
  padding: 0;
  margin: 0;
  height: 100%;
  @extend %default-font;
  -webkit-text-size-adjust: none; /* Never autoresize text */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-top: $header-height;
}

a {
  color: $link-text;
  text-decoration: none;
  &:hover {
    //color: darken($link-text, 10%);
    text-decoration: underline;
  }
}

ul {
  list-style-type: disc;
}

/* Extend Tachyons */
.flex-fill {
  flex: 1 1;
  min-width: 0;
  min-height: 0;
}

////////////////////////////////////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////////////////////////////////////

.css-header {
  z-index: 100;

  .css-nav-link {
    color: $header-text;
    text-decoration: none;
    font-size: $header-font-size;
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease-in-out;
    font-weight: 600;

    &.css-nav-active {
      cursor: default;
    }

    &:hover,
    &.css-nav-active {
      border-bottom: 2px solid $fx-green;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// TABLE OF CONTENTS
////////////////////////////////////////////////////////////////////////////////

#toc  >  ul  >  li  >  a  >  span {
  float: right;
  background-color: #2484FF;
  border-radius: 40px;
  width: 20px;
}

.tocify-wrapper {
  transition: left 0.3s ease-in-out;

  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 30;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: $nav-width;
  background-color: $nav-bg;
  font-size: $nav-item-font-size;
  font-weight: 500;

  // language selector for mobile devices
  .lang-selector {
    display: none;
    a {
      padding-left: $nav-padding;
      padding-right: $nav-padding;
      float: none;
    }
  }

  // This is the logo at the top of the ToC
  & > .img-logo img {
    display: block;
    max-width: 100%;
    margin: 9px 13px;
  }

  & > .search {
    position: relative;

    input {
      background: $nav-bg;
      border-width: 0 0 1px 0;
      border-color: $search-box-border-color;
      padding: 6px 0 6px 20px;
      box-sizing: border-box;
      margin: $nav-v-padding $nav-padding;
      width: $nav-width - 30;
      outline: none;
      color: $nav-text;
      border-radius: 0; /* ios has a default border radius */
      font-size: $nav-search-font-size;
    }

    &:before {
      position: absolute;
      top: 17px;
      left: $nav-padding;
      color: $nav-text;
      @extend %icon-search;
    }
  }

  img + .tocify,
  .lang-selector + .tocify {
    margin-top: $logo-margin;
  }

  .search-results {
    margin-top: 0;
    background-color: $nav-search-results-bg-color;
    box-sizing: border-box;
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition-property: height, margin;
    transition-duration: 180ms;
    transition-timing-function: ease-in-out;

    &.visible {
      height: 30%;
      margin-bottom: 1em;
    }

    li {
      margin: 1em $nav-padding;
      line-height: 1;
      font-size: $nav-search-results-font-size;
    }

    a {
      color: $nav-text;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .tocify-header {
    margin: $nav-padding 0;
  }

  .tocify-item > a,
  .toc-footer li {
    color: #333;
    padding: 0 $nav-padding;
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .tocify-item > a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #666;

    &:hover {
      background-color: #f4f4f4;
    }
  }

  // The Table of Contents is composed of multiple nested
  // unordered lists.  These styles remove the default
  // styling of an unordered list because it is ugly.
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2.4;
  }

  li {
    color: $nav-text;
    transition-property: background;
    transition-timing-function: linear;
    transition-duration: 230ms;
  }

  // This is the currently selected ToC entry
  .tocify-focus {
    box-shadow: 0px 1px 0px $nav-active-shadow;
    background-color: $nav-active-text;

    & > a {
      color: #fff !important;

      &:hover {
        text-decoration: none;
        background-color: $nav-active-text;
      }
    }
  }

  // Subheaders are the submenus that slide open
  // in the table of contents.
  .tocify-subheader {
    //display: none; // tocify will override this when needed  // DZW: Always show all subheaders
    //background-color: $nav-subitem-bg;
    .tocify-item > a {
      padding-left: $nav-padding + $nav-indent;
      font-size: $nav-subitem-font-size - 3;
      text-transform: none;
      font-weight: normal;
      color: #aaa;
    }
  }

  // Third-level subheader
  .tocify-subheader {
    .tocify-subheader {
      .tocify-item > a {
        &:before {
          content: '-';
          margin-right: 4px;
        }

        padding-left: $nav-padding + ($nav-indent * 2);
        font-size: $nav-subitem-font-size - 5;
      }
    }
  }

  .toc-footer {
    padding: 1em 0;
    margin-top: 1em;
    border-top: 1px dashed $nav-footer-border-color;
    font-size: $nav-footer-font-size;

    li,a {
      color: $nav-text;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    li {
      font-size: 0.8em;
      line-height: 1.6;
      text-decoration: none;
    }
  }

}

// button to show navigation on mobile devices
#nav-button {
  span {
    display: block;
    padding: 4px;
    margin-right: 8px;
    background-color: rgba($main-bg, 0.7);
    border-radius: 0 0 0 5px;
  }
  display: none;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.7;
  line-height: 16px;

  transition: left 0.3s ease-in-out;

  &:hover { opacity: 1; }
}


////////////////////////////////////////////////////////////////////////////////
// PAGE LAYOUT AND CODE SAMPLE BACKGROUND
////////////////////////////////////////////////////////////////////////////////

.page-wrapper {
  margin-left: $nav-width;
  position: relative;
  z-index: 10;
  background-color: $main-bg;
  min-height: 100%;

  padding-bottom: 1px; // prevent margin overflow

  // The dark box is what gives the code samples their dark background.
  // It sits essentially under the actual content block, which has a
  // transparent background.
  // I know, it's hackish, but it's the simplist way to make the left
  // half of the content always this background color.
  .dark-box {
    width: $examples-width;
    background-color: $examples-bg;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .lang-selector {
    position: fixed;
    z-index: 50;
    border-bottom: 5px solid $lang-select-active-bg;
  }
}

.lang-selector {
  background-color: $lang-select-bg;
  width: 100%;
  a {
    display: block;
    float:left;
    color: $lang-select-text;
    text-decoration: none;
    padding: 8px 20px;
    line-height: 30px;
    font-size: $lang-selector-font-size;
    font-weight: 400;
    outline: 0;

    &:active,
    &:focus {
      background-color: $lang-select-pressed-bg;
      color: $lang-select-pressed-text;
    }

    &.active {
      background-color: $lang-select-active-bg;
      color: $lang-select-active-text;
    }
  }

  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

////////////////////////////////////////////////////////////////////////////////
// CONTENT STYLES
////////////////////////////////////////////////////////////////////////////////
// This is all the stuff with the light background in the left half of the page

.content {
  // to place content above the dark box
  position: relative;
  z-index: 30;

  // add some extra padding at the bottom so that the TOC scrollspy works
  padding-bottom: 240px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > p,
  & > table,
  & > ul,
  & > ol,
  & > aside,
  & > dl,
  & > hr {
    margin-right: $examples-width;
    padding: 0 $main-padding;
    box-sizing: border-box;
    display: block;

    @extend %left-col;
  }

  & > ul,
  & > ol {
    padding-left: $main-padding + 40px;
  }

  & ul > li,
  & ol > li {
    & > ul,
    & > ol {
      padding-left: $main-padding;
    }

    > p {
      margin: 0;
    }
  }

  // the div is the tocify hidden div for placeholding stuff
  & > h1,
  & > h2,
  & > h3,
  & > div {
    clear:both;
  }

  /*
  h1 {
    @extend %header-font;
    font-size: $h1-font-size;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-bottom: $h1-margin-bottom;
  }
  */

  h1 {
    margin-top: 4rem;
  }

  h1:first-child,
  div:first-child + h1 {
    padding-top: 1rem;
  }

  // make sure code paragraph text lines up with explanation paragraph text
  h1 + blockquote,
  h2 + blockquote,
  h3 + blockquote,
  h4 + blockquote,
  h5 + blockquote,
  h6 + blockquote,
  hr + blockquote {
    padding-top: 0;
  }

  /*
  h2 {
    @extend %header-font;
    font-size: $h2-font-size;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  // h2s right after h1s should bump right up
  // against the h1s.
  h1 + h2,
  h1 + div + h2 {
    margin-top: $h1-margin-bottom * -1;
    border-top: none;
  }

  h3,
  h4,
  h5,
  h6 {
    @extend %header-font;
    padding-top: 1rem;
    margin-bottom: 0.8rem;
  }

  h3 {
    font-size: $h3-font-size;
    font-weight: 400;
  }

  h4 {
    font-size: $h4-font-size;
    font-weight: 400;
  }

  h5 {
    font-size: $h5-font-size;
  }

  h6 {
    font-size: $h6-font-size;
  }

  h1 + blockquote,
  h2 + blockquote,
  h3 + blockquote,
  h4 + blockquote,
  h5 + blockquote,
  h6 + blockquote {
    padding-top: 0;
  }

  hr {
    margin: 2rem 28px;
    border: 0;
    border-bottom: 1px solid #ccc;
  }
  */

  table {
    margin-bottom: 1em;
    overflow: auto;

    th, td {
      //text-align: left;
      vertical-align: top;
      //line-height: 1.6;
    }

    th {
      background: #fff;
      border-bottom: 1px solid #ddd;
      vertical-align: bottom;
    }

    /*
    th {
      padding: 0.4rem 0.6rem;
      border-bottom: 1px solid #ccc;
      vertical-align: bottom;
      font-weight: 600;
    }
    */

    td {
      padding: 0.625rem;
      font-size: $table-font-size;
    }

    tr:nth-child(even) > td {
      background-color: $table-shaded-row-bg;
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 15px;
  }

  /*
  p,
  li,
  dt,
  dd {
    line-height: 1.6;
    margin-top: 0;
  }

  img {
    border: 1px solid rgba(0,0,0,0.075);
    border-bottom: 0;
    box-shadow: 0 3px 4px -3px rgba(0,0,0,0.4);
    max-width: 100%;
    margin: 0.4rem 0;
  }

  code {
    color: $code-text;
    background-color: rgba(0,0,0,0.06);
    padding: 3px;
    border-radius: 3px;
    @extend %break-words;
    @extend %code-font;
  }

  pre > code {
    color: #fff;
    background-color: transparent;
    padding: 0;
  }
  */

  code {
    display: inline-block;
    border-radius: 3px;
    //background-color: rgba(27,31,35,0.05);
    background-color: rgba(0,0,0,0.04);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    font-size: 12px;
    padding: 0 4px;
    line-height: 20px;
    overflow: auto;
    vertical-align: text-bottom;
    @extend %break-words;
    @extend %code-font;
  }

  td > code {
    background-color: transparent;
    box-shadow: none;
  }

  aside {
    padding: 1.2rem 1.6rem 1.2rem 4rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    margin-left: $main-padding;
    margin-right: $main-padding !important;
    line-height: 1.6;
    border: 1px solid rgba(0,0,0,0.08);
    border-left-width: 4px;
    border-radius: 5px;

    &.notice {
      border-left-color: $aside-notice-bg;
      background-color: rgba($aside-notice-bg, 0.06);
    }

    &.warning {
      border-left-color: $aside-warning-bg;
      background-color: rgba($aside-warning-bg, 0.06);
    }

    &.success {
      border-left-color: $aside-success-bg;
      background-color: rgba($aside-success-bg, 0.06);
    }
  }

  aside:before {
    position: relative;
    top: 0.2rem;
    vertical-align: top;
    font-size: $aside-icon-font-size;
    width: 2rem;
    margin-left: -2.6rem;
    padding-right: 0.6rem;
  }

  aside.notice:before {
    @extend %icon-info-sign;
    color: $aside-notice-bg;
  }

  aside.warning:before {
    @extend %icon-exclamation-sign;
    color: $aside-warning-bg;
  }

  aside.success:before {
    @extend %icon-ok-sign;
    color: $aside-success-bg;
  }

  .search-highlight {
    padding: 1px;
    margin: -1px -2px;
    border-radius: 1px;
    border: 1px solid #ffff00;
    background-color: #ffff00;
    color: #000;
    box-shadow: 0 1px rgba(0,0,0,0.1);
  }
}

////////////////////////////////////////////////////////////////////////////////
// CODE SAMPLE STYLES
////////////////////////////////////////////////////////////////////////////////
// This is all the stuff that appears in the right half of the page

.content {
  pre,
  blockquote {
    //background-color: $code-bg;
    color: #fff;
    border-left: 0;

    padding: 20px 0;
    margin: 0;
    width: calc(50% - 56px);
    position: relative;
    left: -28px;

    float:right;
    clear:right;

    box-sizing: border-box;

    @extend %right-col;

    & > p { margin: 0; }

    a {
      color: #fff;
      text-decoration: none;
      border-bottom: dashed 1px #ccc;
    }
  }

  pre {
    background-color: $code-bg;
    border-radius: 5px;
    padding: $code-annotation-padding;

    @extend %code-font;

    code {
      //background-color: rgba(0,0,0,0.06);
      background-color: transparent;
      padding: 3px;
      border-radius: 3px;
      @extend %break-words;
      @extend %code-font;
    }

    pre > code {
      color: #fff;
      background-color: transparent;
      padding: 0;
    }
  }

  blockquote {
    & > p {
      color: #ccc;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// FORCE CODE TO BE IN CENTER COLUMN
////////////////////////////////////////////////////////////////////////////////

.content {
  .center-column + pre {
    position: static;
    float: none;
    clear: none;
    margin: 0 28px;
    left: 0;

    code {
      box-shadow: none;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// SINGLE COLUMN LAYOUT (NO RIGHT COLUMN)
////////////////////////////////////////////////////////////////////////////////

// add this class to the .page-wrapper element to force
// a single column layout (in addition to the left nav)
.single-column {
  .dark-box {
    display: none;
  }

  %left-col {
    margin-right: 0;
  }

  .tocify-wrapper .lang-selector {
    display: block;
  }

  .page-wrapper .lang-selector {
    display: none;
  }

  %right-col {
    width: auto;
    float: none;
  }

  %right-col + %left-col {
    margin-top: $main-padding;
  }

  .content {
    max-width: 900px;

    pre,
    blockquote {
      position: static;
      left: 0;
      margin: 0 $main-padding;
    }

    pre {
      background: #4a4a4a;
      border-top: none;
      border-bottom: none;
    }

    > hr {
      padding: 0;
      margin-left: $main-padding;
      margin-right: $main-padding;
    }
  }

  .content {
    blockquote {
      & > p {
        color: $main-text;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// RESPONSIVE DESIGN
////////////////////////////////////////////////////////////////////////////////
// These are the styles for phones and tablets
// There are also a couple styles disperesed

@media (max-width: $tablet-width) {
  .tocify-wrapper {
    left: -$nav-width;

    &.open {
      left: 0;
    }
  }

  .page-wrapper {
    margin-left: 0;
  }

  #nav-button {
    display: block;
  }

  .tocify-wrapper .tocify-item  >  a {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }

  .content {
    pre,
    blockquote {
      position: static;
      left: 0;
      margin: 0 28px;
    }

    pre {
      //background: #4a4a4a;
      border-top: none;
      border-bottom: none;
    }
  }
}

@media (max-width: $phone-width) {
  .dark-box {
    display: none;
  }

  %left-col {
    margin-right: 0;
  }

  .tocify-wrapper .lang-selector {
    display: block;
  }

  .page-wrapper .lang-selector {
    display: none;
  }

  %right-col {
    width: auto;
    float: none;
  }

  %right-col + %left-col {
    margin-top: $main-padding;
  }

  .content {
    pre,
    blockquote {
      position: static;
      left: 0;
      margin: 0 28px;
    }

    pre {
      //background: #4a4a4a;
      border-top: none;
      border-bottom: none;
    }
  }

  .content {
    blockquote {
      & > p {
        color: $main-text;
      }
    }
  }
}

.highlight {
  overflow: auto;
}

// add slight inset top/bottom border
blockquote + .highlight {
  border-top: 1px solid #111;
  border-bottom: 1px solid #444;
}

// fix indented space color
.center-column + .highlight .w {
  background-color: transparent;
}

// fix character color
.center-column + .highlight .p {
  color: $main-text;
}

/*
.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: #909090;
}

.highlight,
.highlight .w {
  background-color: $code-bg;
}
*/
